amqp==2.2.1
argcomplete==1.8.2
billiard==3.5.0.3
celery==4.1.0
cycler==0.10.0
Django==1.11.3
e==1.4.5
functools32==3.2.3.post2
kombu==4.1.0
Markdown==2.6.8
matplotlib==2.0.2
numpy==1.13.1
pandas==0.20.3
pyparsing==2.2.0
python-dateutil==2.6.1
pytz==2017.2
scipy==0.19.1
seaborn==0.8
six==1.10.0
subprocess32==3.2.7
vine==1.1.4
wlogger==0.1.1
