{% extends 'coordinator/project.html' %}

{% load static %}

{% block project-content %}
    {% if project.owner == user or 'Edit' in project.visibility or user.is_superuser %}
		<a class="btn blue white-text right waves-effect waves-light modal-trigger" href="#add-new">
			Load Dataset
		</a>
	{% endif %}

	<div class="preview-data-source card col s12 m12 l12">
        <div class="card-content black-text">
		    {% if parse_result == 'Success' %}
			    <span class="card-title">
			        Preview
			        <div class="actions right">
			            <i class="mdi-action-delete"> </i>
			        </div>
			    </span>
	            <div class = "card-summary" id="dataset-data">
	                <strong> Dataset on : </strong>  <span> {{ dset_name }} </span> <br/>
	                <strong> File name : </strong>  <span> {{ filename }} </span> <br/>
	                <strong> File size : </strong>  <span> {{ filesize }} </span> <br/>
	                <strong> Scope : </strong>  <span> {{ scope }} </span> <br/>
	                <strong> Added at : </strong>  <span> {{ created_time|date:"j/n/o f A" }} </span> <br/>
	                <strong> Origin : </strong>  <span> {{ owner.username }} </span> <br/>
	                <br/>
				    <div class="success green-text">
		                <strong> Column usage accepted </strong> <br/>
		                <strong> MLCoord is able to read this dataset. </strong>
		            </div>
	            </div>
	        {% elif parse_result %}
	        	<div class="error card-alert red-text">
	        		Parsing File failed ! Please inspect file again.
	        	</div>
	        {% else %}
			    <div class="initial">
			    	Please upload new dataset with 'LOAD DATASET'
			    </div>
	        {% endif %}
		</div>
	</div>


	<div class="clearfix"> </div>

	<div class="preview card">
		<div class="card-content black-text">
            <table id="data-table">
                <thead>
                    <tr>
                        <th> Dataset </th>
                        <th> File </th>
                        <th> Scope </th>
                        <th> Added at </th>
                    </tr>
                </thead>
                <tbody>
                	{% for dataset in datasets %}
	                    <tr>
	                        <td> {{ dataset.name }} </th>
	                        <td> {{ dataset.file.name }} </th>
	                        <td> {{ dataset.scope }} </th>
	                        <td> {{ dataset.created_time }} </th>
	                    </tr>
	                {% endfor %}
                </tbody>
            </table>
		</div>
	</div>

    {% if project.owner == user or 'Edit' in project.visibility or user.is_superuser %}
		<div class="add-new card modal col s12 m3 l3 offset-l1 offset-m1" id="add-new">
			<div class="card-content black-text modal-content  col s12 m12 l12">
					<span class="card-title">
						Add New Dataset
					</span>
				<div class="add-form">
					<form method="post" enctype='multipart/form-data'>
						{% csrf_token %}
						<div class="input-field">
							<label class="active"> Dataset Name </label>
							<input type = "text" name="dset_name" />
						</div>
						<div class="file-uploader center-align col s5 m5 l5">
							<i class="mdi-file-file-upload"> </i>
							<span id="filename"> Drag and Drop to upload </span>
							<input type="file" name="file" id="file-input" class="file-input" accept=".xls,.xlsx,.csv,.tsv" />
						</div> 
						<p>
	                      <input type="checkbox" class="filled-in" id="filled-in-box" name="validate" >
	                      <label for="filled-in-box">Use this data set for validation</label>
	                    </p> <br/>
	                    <div class="row">
	                    	<a href="#" class="waves-effect waves-red btn-flat modal-action modal-close">Cancel</a>
	                    	<input type="submit" class="btn blue waves-light waves-effect" name="add-new" value = "Submit" />
	                    </div>
					</form>
				</div>
			</div>
		</div>
	{% endif %}

{% endblock %}

{% block extra_scripts_project %}
    <script type="text/javascript" src="{% static 'custom/coordinator/project/js/datasources.js' %}"></script>
    <script type="text/javascript">
    	$(document).ready(function() {
    	}); 
    </script>
{% endblock %}
