{% extends 'coordinator/project.html' %}

{% load static %}

{% block project-content %}

    <div class="step">
        <div class="select-data-source col s12 m12 l12">
            <div class="col s12 m2 l2 text align-right" > Experiment: </div>
            <select name="experiment" class="col s12 m2 l2" id="experiment-selector"> 
                {% for experiment in experiments %}
                    <option value="{{ experiment.id }}" {% if experiment.id == active_idx %} selected="selected" {% endif %} > {{ experiment.name }} </option>
                {% endfor %}
            </select>
     
            <div class="col s12 m1 l1 text" > Status: </div>
            <select name="status" class="col s12 m2 l2" id="status-selector"> 
                <option value="all"> All </option>
                {% for status in statuses %}
                    <option value="{{ status }}" {% if cur_status == status %} selected="selected" {% endif %}> Only {{ status }} </option>
                {% endfor %}
            </select>

            <div class="col s12 m1 l1 text" > Display: </div>
            <select name="display" class="col s12 m3 l3"> 
                <option value="source1"> Best by algorithm </option>
                <option value="source2"> Best by column </option>
            </select>
        </div> 

        <div class="clearfix"> </div>

        <div class="preview card">
            <div class="card-content black-text">
                <table id="data-table">
                    <thead>
                        <tr>
                            <th> Model </th>
                            <th> Dataset </th>
                            <th> Validation </th>
                            <th> Metric </th>
                            <th> Score </th>
                            <th> Total Time Spent </th>
                            <th> Status </th>
                            <th> Algorithm </th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for model in emodels %}
                        <tr class="model-handle" data-id="{{model.id}}" >
                            <td> {{ model.uuid }} </td>
                            <td> {{ model.dataset.name }} : {{ model.column }} </td>
                            <td> {{ model.experiment.validation }} </td>
                            <td> {{ model.experiment.metric }} </td>
                            <td> 0.78 </td>
                            <td> 1:18:19 </td>
                            <td> 
                              <div class="chip green white-text">
                                {{ model.status }}
                              </div>
                            </td>
                            <td> {{ model.algorithm }} </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

    </div>

    <div class="step">
        <div class="step-header col s12 m12 l12">
            <span class="text col s12 m3 l3"> Feature Analyis </span>
        </div>
        <canvas id="feature-analysis" height="150" > </canvas>
    </div>

{% endblock %}

{% block extra_scripts_project %}
    <script type="text/javascript" src="{% static 'theme/js/plugins/chartjs/chart.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'custom/coordinator/project/js/feature.js' %}"> </script>
    <script type="text/javascript">
        $(document).ready(function() {
            function reload() {
                var query = '?experiment='+$("#experiment-selector").val()+'&status='+$("#status-selector").val()
                window.location = "{% url 'coordinator:feature' project_id %}"+query;
            }
            $("#experiment-selector").change(function() {
                reload();
            }); 
            $("#status-selector").change(function() {
                reload();
            })

            function model_event_attach() {
                $(".model-handle").click(function() {
                    $(".model-selected").removeClass("model-selected");
                    $(this).addClass('model-selected');
                    var model_id = $(this).attr('data-id');
                    $.post(
                        '{% url "coordinator:feature" project_id %}', 
                        {
                            'csrfmiddlewaretoken': $("{% csrf_token %}").val(), 
                            'model-id': model_id, 
                            'action': 'get_model_chart'
                        }, function(r) {
                            var data = JSON.parse(r);
                            console.log(data);
                            chartdraw(data['result']);
                        } );
                }); 

                $(".paginate_button").click(function() {
                    setTimeout(model_event_attach, 200);
                }); 
            }

            function chartdraw(data) {
                 var BarChartSampleData = {
                    labels: data['x'],
                    datasets: [
                        {
                            label: "My Second dataset",
                            fillColor: "rgba(151,187,205,0.5)",
                            strokeColor: "rgba(151,187,205,0.8)",
                            highlightFill: "rgba(151,187,205,0.75)",
                            highlightStroke: "rgba(151,187,205,1)",
                            data: data['y']
                        }
                    ]
                };
                

                var ctx = document.getElementById("feature-analysis").getContext("2d");

                window.BarChartSample.destroy();

                window.BarChartSample = new Chart(
                    document.getElementById("feature-analysis").getContext("2d")
                ).Bar(BarChartSampleData,{ responsive:true });
            }

            model_event_attach();

        }); 
    </script>
{% endblock %}
