{% extends 'coordinator/project.html' %}

{% block project-content %}

    <div class="step">
        <div class="step-header col s12 m12 l12">
            <span class="text col s12 m3 l3"> Step 1 | Select source </span>
            <div class="col s12 m3 l3">
                <input name="radio-option" type="radio" value="datasource" id="source1"/>
                <label for="source1" class="text col s3 m3 l3"> &nbsp; </label>
                <select name="datasource" class="col s9 m9 l9">
                    <option value="source1"> NumerAi </option>
                    <option value="source12"> NumerAi2 </option>
                </select>
            </div>
            <div class="col s12 m3 l3">
                <input name="radio-option" type="radio" value="query" id="source2" />
                <label for="source2" class="text col s3 m3 l3" > &nbsp; </label>
                <input type="text" name="query" class="col s9 m9 l9" />
            </div>
        </div>
    </div>

    <div class="step">
        <div class="step-header col s12 m12 l12">
            <span class="text col s12 m3 l3">  Step 2 | Select Model </span>
        </div>
        <div class="clearfix"> </div>
    	<div class="preview card">
    		<div class="card-content black-text">
                <table id="data-table">
                    <thead>
                        <tr>
                            <th> Experiment </th>
                            <th> Dataset </th>
                            <th> Validation </th>
                            <th> Metric </th>
                            <th> Score </th>
                            <th> Total Time Spent </th>
                            <th> Status </th>
                            <th> Algorithm </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td> Experiment1 </td>
                            <td> Content </td>
                            <td> 5-fold </td>
                            <td> 38 </td>
                            <td> 0.78 </td>
                            <td> 1:18:19 </td>
                            <td> 
                              <div class="chip green white-text">
                                Success
                              </div>
                            </td>
                            <td> Random Forest </td>
                        </tr>
                    </tbody>
                </table>
    		</div>
    	</div>
    </div>

    <div class="step">
        <div class="step-header col s12 m12 l12">
            <span class="text col s12 m3 l3"> Step 3 | Start Computation </span>
        </div>
        <a class="btn blue waves-effect waves-light"> Start <i class="mdi-navigation-arrow-drop-down right"></i> </a>
    </div>

    <div class="step">
        <div class="step-header col s12 m12 l12">
            <span class="text col s12 m3 l3">  Step 4 | Download Predictions </span>
        </div>
        <ul id="dropdown1" class="dropdown-content">
            <li><a href="#!" class="-text">one<span class="badge">1</span></a>
            </li>
            <li><a href="#!" class="-text">two<span class="new badge ">2</span></a>
            </li>
            <li><a href="#!" class="-text">three</a>
            </li>
        </ul>
        <a class="blue btn dropdown-button waves-effect waves-light " href="#!" data-activates="dropdown1">Dropdown<i class="mdi-navigation-arrow-drop-down right"></i></a>

        <div class="preview card">
            <div class="card-content black-text">
                <table id="data-table">
                    <thead>
                        <tr>
                            <th> Algorithm ID </th>
                            <th> Algorithm </th>
                            <th> Prediction </th>
                            <th> Prediction Score </th>
                            <th> Time </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td> ae4989-389984-9984 </td>
                            <td> Random Forest </td>
                            <td> 5-fold </td>
                            <td> 38 </td>
                            <td> 1:18:19 </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>


{% endblock %}
