{% extends 'coordinator/project.html' %}

{% block project-content %}

	<div class="select-data-source">
		<div class="col s12 m2 l2 text" > Select Data Source </div>
		<select name="data-source" class="col s12 m3 l3"> 
			<option value="source1"> NuberAI </option>
			<option value="source2"> NuberAI2 </option>
		</select>
		<div class="col s6 m2 l2 text"> <strong> Samples: </strong> <span> 108,405 </span> </div>
		<div class="col s6 m2 l2 text"> <strong> Attirbutes: </strong> <span> 25 </span> </div>
	</div> 

	<div class="clearfix"> </div>

	<div class="preview card">
		<div class="card-content black-text">
            <table id="data-table">
                <thead>
                    <tr>
                        <th> Column Name </th>
                        <th> Usage </th>
                        <th> Unique Values </th>
                        <th> Most Frequent </th>
                        <th> Least Frequent </th>
                        <th> Distribution </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td> Content </th>
                        <td> This is longer content </td>
                        <td> Content  </td>
                        <td> Content </td>
                        <td> &nbsp; </td>
                        <td> &nbsp; </td>
                    </tr>
                </tbody>
            </table>
		</div>
	</div>

{% endblock %}
