{% extends 'coordinator/project.html' %}

{% load nbsp %}

{% block project-content %}

	<div class="select-data-source">
		<div class="col s12 m2 l2 text" > Select Data Source </div>
		<select name="data-source" class="col s12 m3 l3" id="dataset-selector"> 
			{% for dataset in datasets %}
				<option value="{{ dataset.id }}" >  {{ dataset.name }}  </option>
			{% endfor %}
		</select>
		<div class="col s6 m2 l2 text"> <strong> Samples: </strong> <span> {{ colcount }} </span> </div>
		<div class="col s6 m2 l2 text"> <strong> Attirbutes: </strong> <span> {{ rowcount }} </span> </div>
	</div> 

	<div class="clearfix"> </div>

	<div class="preview card">
		<div class="card-content black-text">
            <table id="data-table">
                <thead>
                    <tr>
                        <th> Column Name </th>
                        <th> Usage </th>
                        <th> Unique Values </th>
                        <th> Most Frequent </th>
                        <th> Least Frequent </th>
                        <th> Distribution </th>
                    </tr>
                </thead>
                <tbody>
                	{% for item in data %}
	                    <tr>
	                        <td> {{ item.column_name }} </th>
	                        <td> 
	                        	<select class="usuage" data-name="{{item.column_name}}">
	                        		{% for option in options %}
	                        			<option value="{{ option }}" {% if item.usuage|compare:option %} selected="selected" {% endif %}> {{ option }} </option>
	                        		{% endfor %}
	                        	</select>
	                        	<select class="usuage-rule" data-name="{{item.column_name}}">
	                        		{% for col in cols %}
	                        			<option value="{{ col }}" {% if item.usuage|comparecol:col %} selected="selected" {% endif %} > {{col}} </option>
	                        		{% endfor %}
	                        	</select>
	                        </td>
	                        <td> {{ item.unique_values }}  </td>
	                        <td> {{ item.most_frequent|nbsp|safe }} </td>
	                        <td> {{ item.least_frequent|nbsp|safe }} </td>
	                        <td> &nbsp; </td>
	                    </tr>
	                {% endfor %}
                </tbody>
            </table>
		</div>
	</div>

{% endblock %}

{% block extra_scripts_project %}
	<script type="text/javascript">
		$(document).ready(function() {
			$("#dataset-selector").change(function() {
				window.location = "{% url 'coordinator:preview' project_id %}"+"?dataset="+$(this).val();
			}); 
			$(".usuage-rule").hide();
			$("#dataset-selector").val({{ dataset_id }});
			$("#dataset-selector").material_select();
			$(".usuage").material_select('destroy');
			$(".usuage").material_select();
			$(".usuage-rule").material_select('destroy');
			$(".usuage-rule").material_select();
			function usuage_update() {
				$("select.usuage").each(function() {
					var name;
					if($(this).val() == 'Rules') {
						$(this).parent().next().show();
					} else {
						$(this).parent().next().hide();
					}
				}); 
			}
			usuage_update();
			$(".usuage").change(function() {
				usuage_update();
				$.post(
					"{% url 'coordinator:preview_post' project_id %}", 
					{
						'csrfmiddlewaretoken': $("{% csrf_token %}").val(), 
						'data': $(this).val(), 
						'column_name': $(this).attr('data-name'),
						'dataset_id': {{ dataset_id }}
					}, function(r) {
						var data = JSON.parse(r);
						console.log(data);
						if(data['status'] == 'success') {
							Materialize.toast('Saved', 2000);
						} else {
							Materialize.toast('Failed', 2000);
						}
					} ); 
			}); 
			$(".usuage-rule").change(function() {
				$.post(
					"{% url 'coordinator:preview_post' project_id %}", 
					{
						'csrfmiddlewaretoken': $("{% csrf_token %}").val(), 
						'data': 'Rules-'+$(this).val(), 
						'column_name': $(this).attr('data-name'),
						'dataset_id': {{ dataset_id }}
					}, function(r) {
						var data = JSON.parse(r);
						console.log(data);
						if(data['status'] == 'success') {
							Materialize.toast('Saved', 2000);
						} else {
							Materialize.toast('Failed', 2000);
						}
					} ); 
			}); 
			$(".tooltipped").
		}); 
	</script>
{% endblock %}
