<div class="row grid-view projects">

    <div class="col s12 m6 l4 item">
        <div class="row">
            <div class="col s12 m12 l12">
                <div class="card  light-blue">
                    <a href="{% url 'coordinator:project' 1 %}">
                    <div class="card-content white-text">
                        <span class="card-title">Project A</span>
                        <div class>
                        <strong > Created </strong>:  <span> 2017-07-20 </span> <br/>
                        <strong> Models </strong>:  <span> 47 </span> <br/>
                        <strong> Notes </strong>:
                        <p> I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
                        </div>
                    </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="col s12 m6 l4 item">
        <div class="row">
            <div class="col s12 m12 l12">
                <div class="card  light-blue">
                    <div class="card-content white-text">
                        <span class="card-title">Project A</span>
                        <div class>
                        <strong > Created </strong>:  <span> 2017-07-20 </span> <br/>
                        <strong> Models </strong>:  <span> 47 </span> <br/>
                        <strong> Notes </strong>:
                        <p> I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col s12 m6 l4 item">
        <div class="row">
            <div class="col s12 m12 l12">
                <div class="card  light-blue">
                    <div class="card-content white-text">
                        <span class="card-title">Project A</span>
                        <div class>
                        <strong > Created </strong>:  <span> 2017-07-20 </span> <br/>
                        <strong> Models </strong>:  <span> 47 </span> <br/>
                        <strong> Notes </strong>:
                        <p> I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
