<div class="card list-view projects">
    <div class="col s12 m12 l12 card-content">
        <div class="row">
            <div class="col s12 m1 l1"> <strong> Name </strong> </div>
            <div class="col s12 m1 l1"> <strong> Created on </strong> </div>
            <div class="col s12 m1 l1"> <strong> Scope </strong> </div>
            <div class="col s12 m1 l1"> <strong> Models </strong> </div>
            <div class="col s12 m1 l1"> <strong> Visibility </strong> </div>
            <div class="col s12 m1 l1"> <strong> Category </strong> </div>
            <div class="col s12 m5 l5"> <strong> Description </strong> </div>
            <div class="col s12 m1 l1"> actions </div>
        </div> 
        <br/> <div class="divider"> </div> <br/>
        <!-- List of Projects -->

    {% for project in projects %}
        <div class="row item">
            <div class="col s12 m1 l1"> <span> {{ project.name }} </span> </div>
            <div class="col s12 m1 l1"> <span> {{ project.created_time|date:"o-n-j"}} </span> </div>
            <div class="col s12 m1 l1"> <span> {{ project.task }} </span> </div>
            <div class="col s12 m1 l1"> <span> 47 </span> </div>
            <div class="col s12 m1 l1"> <span> {{ project.visibility }} </span> </div>
            <div class="col s12 m1 l1"> <span> {{ project.category }} </span> </div>
            <div class="col s12 m5 l5"> <span> {{ project.description }} </span> </div>
            <div class="col s12 m1 l1"> 
                <i class="mdi-editor-mode-edit"> </i>
                <i class="mdi-action-delete"> </i> 
            </div>
        </div> <br/>
    {% endfor %}
    </div>
</div>
