{% load static %}

<header id="header" class="page-topbar">
      <!-- start header nav-->
      <div class="navbar-fixed">
          <nav class="navbar-color">
              <div class="nav-wrapper">

                  <ul id="usermenu-dropdown" class="dropdown-content">
                    <li><a href="{% url 'auth:profile' %}"><i class="mdi-action-face-unlock"></i> Profile</a> </li>

                    <li><a href="{% url 'auth:logout' %}"><i class="mdi-hardware-keyboard-tab"></i> Logout</a> </li>
                    <li><a href="{% url 'coordinator:projects' %}"> <i class="mdi-action-view-carousel"></i> Projects </a> </li>
                  </ul>

                  <ul class="left">                      
                    <li>
                      <h1 class="logoText"><a href="{% url 'coordinator:home' %}" > ML Core </a>  </h1>
                    </li>
                  </ul>

                  <ul class="left" >
                    <li> <a href="{% url 'coordinator:home' %}" class="waves-effect waves-block waves-light">
                      Dashboard
                    </a> </li>
                    <li> <a href="{% url 'coordinator:projects' %}" class="waves-effect waves-block waves-light">
                      Projects
                    </a> </li>

                  </ul>

                  <ul class="right hide-on-med-and-down">
                      <li><a href="javascript:void(0)" class="waves-effect waves-block waves-light usermenu-button" data-activates="usermenu-dropdown" > 
                        <img src="{% static 'theme/images/avatar.jpg' %}" alt="" class="avatar circle">
                      </a> </li>
                  </ul>
              </div>
          </nav>
      </div>
      <!-- end header nav-->
</header>

