{% extends 'base.html' %}

{% load static %}

{% block page_title %} Dashboard {% endblock %}
{% block breadcrumbs %}
	<li class="active">Dashboard</li>
{% endblock %}
{% block content %}
    <!--card stats start-->
    <div id="card-stats">
        <div class="row">
            <h5 class="col s12 m12 l12"> Summary </h5>
            <div class="col s12 m4 l_5">
                <div class="card">
                    <div class="card-content black-text">
                        <h4 class="card-stats-number">12</h4>
                        <p class="card-stats-title">  Projects </p>
                    </div>
                </div>
            </div>
            <div class="col s12 m4 l_5">
                <div class="card">
                    <div class="card-content black-text">
                        <h4 class="card-stats-number">200</h4>
                        <p class="card-stats-title">  Data Source </p>
                    </div>
                </div>
            </div>
            <div class="col s12 m4 l_5">
                <div class="card">
                    <div class="card-content black-text">
                        <h4 class="card-stats-number">253</h4>
                        <p class="card-stats-title">  Exprements</p>
                    </div>
                </div>
            </div>
            <div class="col s12 m4 l_5">
                <div class="card">
                    <div class="card-content black-text">
                        <h4 class="card-stats-number">3421</h4>
                        <p class="card-stats-title">  Models</p>
                    </div>
                </div>
            </div>
            <div class="col s12 m4 l_5">
                <div class="card">
                    <div class="card-content black-text">
                        <h4 class="card-stats-number">31:08:45</h4>
                        <p class="card-stats-title">  Execution time</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--card stats end-->

    <!--chart dashboard start-->
    <div id="chart-dashboard">
        <div class="row">
            <div class="col s12 m6 l6">
                <div class="card">
                    <div class="card-move-up waves-effect waves-block waves-dark">
                        <div class="move-up darken-1">
                            <div>
                                <span class="chart-title black-text">Models Per Hour</span>
                                <div class="chart-revenue white darken-2">
                                    <p class="chart-revenue-total">230</p>
                                    <p class="chart-revenue-per"><i class="mdi-navigation-arrow-drop-up"></i> 21.80 %</p>
                                </div>
                                <div class="switch chart-revenue-switch right">
                                    <label class="cyan-text text-lighten-5">
                                      Month
                                      <input type="checkbox">
                                      <span class="lever"></span> Year
                                    </label>
                                </div>
                            </div>
                            <div class="models-line-chart-wrapper">
                                <canvas id="models-line-chart" height="170"></canvas>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <div class="col s12 m6 l6">
                <div class="card">
                    <div class="card-move-up waves-effect waves-block waves-dark">
                        <div class="move-up darken-1">
                            <div>
                                <span class="chart-title">Calls Per Hour</span>
                                <div class="chart-revenue white darken-2">
                                    <p class="chart-revenue-total">230</p>
                                    <p class="chart-revenue-per"><i class="mdi-navigation-arrow-drop-up"></i> 21.80 %</p>
                                </div>
                                <div class="switch chart-revenue-switch right">
                                    <label class="teal-text text-lighten-5">
                                      Month
                                      <input type="checkbox">
                                      <span class="lever"></span> Year
                                    </label>
                                </div>
                            </div>
                            <div class="calls-line-chart-wrapper">
                                <canvas id="calls-line-chart" height="170"></canvas>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="row">
            <div class="preview card">
                <div class="card-content black-text">
                    <table id="data-table">
                        <thead>
                            <tr>
                                <th> Project </th>
                                <th> Dataset </th>
                                <th> Exprements </th>
                                <th> Algorithm </th>
                                <th> Validation </th>
                                <th> Accuracy </th>
                                <th> F1 Score </th>
                                <th> Status </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td> Content </td>
                                <td> This is longer content </td>
                                <td> Content </td>
                                <td> Content </td>
                                <td> 5-fold </td>
                                <td> 0.8945 </td>
                                <td> </td>
                                <td> 
                                  <div class="chip green white-text">
                                    Success
                                  </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
    <!--chart dashboard end-->

{% endblock %}


{% block extra_scripts %}
    <!-- chartjs -->
    <script type="text/javascript" src="{% static 'theme/js/plugins/chartjs/chart.min.js' %}"></script>

    <!-- sparkline -->
    <script type="text/javascript" src="{% static 'theme/js/plugins/sparkline/jquery.sparkline.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'theme/js/plugins/sparkline/sparkline-script.js' %}"></script>
    <script type="text/javascript" src="{% static 'custom/coordinator/js/dashboard.js' %}"></script>

{% endblock %}