{% extends 'base.html' %}

{% load static %}

{% block page_title %} Projects {% endblock %}
{% block breadcrumbs %}
	<li class="active">Projects</li>
{% endblock %}
{% block content %}
    <!--card projects start-->
    <div id="basic-card" class="section">
        <div class="row">
            <div class="input-field col s12 m4 l4">
                <i class="mdi-action-search prefix"></i>
                <input type="text" name="search_query" placeholder="Search Project" />
            </div>
            <div class="input-field col offset-m1 offset-l3 s12 m7 l5">
                <div class="col s5 m5 l5"> 
                    <a class="btn col s12 m12 l12 waves-effect waves-light modal-trigger" href="#add_new" > Add </a>
                </div>
                <div class="col s5 m5 l5"> 
                    <a class="btn col s12 m12 l12 waves-effect waves-light" > Delete </a>
                </div>
                <div class="col s2 m2 l2">
                    {% if layout == 'grid' %}
                        <a href="{% url 'coordinator:projects' %}?layout=list" class="btn col s12 m12 l12 waves-effect waves-light" > <i class="mdi-action-view-list"> </i> </a>
                    {% else %}
                        <a href="{% url 'coordinator:projects' %}?layout=grid" class="btn col s12 m12 l12 waves-effect waves-light" > <i class="mdi-action-view-module"> </i> </a>
                    {% endif %}
                </div>
            </div>
        </div>

        {% if layout == 'grid' %}
            {% include 'coordinator/projects-layout/grid.html' %}
        {% else %}
            {% include 'coordinator/projects-layout/list.html' %}
        {% endif %}

    </div>

    <div id="add_new" class="modal">
        <form action="" method="POST" >
            {% csrf_token %}
            <div class="modal-content">
                <h5> Add New Project </h5>
                <div class="input-field">
                    <input id="project-name" type="text" name="name"/>
                    <label for="project-name"> Project Name </label>
                </div>
                <div class="input-field">
                    <textarea id="project-note" name="note" class="materialize-textarea" ></textarea>
                    <label for="project-note"> Project Note </label>
                </div>
            </div>
            <div class="modal-footer">
                <a href="#" class="waves-effect waves-red btn-flat modal-action modal-close">Cancel</a>
                <input type="submit" class="waves-effect waves-green btn-flat modal-action modal-close" name="add_new" value="Create" >
            </div>
        </form>
    </div>
    <!--card projects end-->

{% endblock %}

