{% extends 'base.html' %}

{% load static %}

{% block page_title %} Projects {% endblock %}

{% block content %}
    <!--card projects start-->
    <div id="basic-card" class="section">
        <div class="row">
            <div class="input-field col s12 m4 l4">
                <i class="mdi-action-search prefix"></i>
                <input type="text" name="search_query" placeholder="Search Project" />
            </div>
            <div class="input-field col offset-m3 offset-l5 s12 m5 l3">
                <div class="col s8 m8 l8"> 
                    <a class="btn col s12 m12 l12 waves-effect waves-dark white modal-trigger black-text" href="#add_new" > Add </a>
                </div>
                <div class="col s4 m4 l4">
                    {% if layout == 'grid' %}
                        <a href="{% url 'coordinator:projects' %}?layout=list" class="btn col s12 m12 l12 waves-effect waves-dark white black-text" > <i class="mdi-action-view-list"> </i> </a>
                    {% else %}
                        <a href="{% url 'coordinator:projects' %}?layout=grid" class="btn col s12 m12 l12 waves-effect waves-dark white black-text" > <i class="mdi-action-view-module"> </i> </a>
                    {% endif %}
                </div>
            </div>
        </div>

        {% if layout == 'grid' %}
            {% include 'coordinator/projects-layout/grid.html' %}
        {% else %}
            {% include 'coordinator/projects-layout/list.html' %}
        {% endif %}

    </div>

    <div id="add_new" class="modal">
        <form action="" method="POST" >
            {% csrf_token %}
            <div class="modal-content">
                <h5> Add New Project </h5>
                <div class="input-field">
                    <input id="project-name" type="text" name="name"/>
                    <label for="project-name"> Project Name </label>
                </div>
                <div class="input-field">
                    <textarea id="project-note" name="description" class="materialize-textarea" ></textarea>
                    <label for="project-note"> Project Description </label>
                </div><br/>
                <div class="input-field">
                    <label class="active"> Visibility </label>
                    <select id="visibility" name="visibility">
                      <option value="" disabled selected>Choose your option</option>
                      <option value="Private">Private</option>
                      <option value="Public (View only)">Public (View only)</option>
                      <option value="Public (Edit)">Public (Edit)</option>
                    </select>
                </div> <br/>
                <div class="input-field">
                    <label class="active"> Task </label>
                    <select id="task" name="task">
                      <option value="" disabled selected>Choose your option</option>
                      <option value="Classfication">Classfication</option>
                      <option value="Classfication - Deep Learning">Classfication - Deep Learning</option>
                      <option value="Classfication - XYZ">Classfication - XYZ</option>
                    </select>
                </div> <br/>
                <div class="input-field">
                    <label class="active"> Category </label>
                    <select id="category" name="category">
                      <option value="" disabled selected>Choose your option</option>
                      <option value="Category A">Category A</option>
                      <option value="Category B">Category B</option>
                      <option value="Category C">Category C</option>
                    </select>
                </div>
            </div>
            <div class="modal-footer">
                <a href="#" class="waves-effect waves-red btn-flat modal-action modal-close">Cancel</a>
                <input type="submit" class="waves-effect waves-green btn-flat modal-action modal-close" name="add_new" value="Create" >
            </div>
        </form>
    </div>
    <!--card projects end-->

{% endblock %}

{% block extra_scripts %}
    <script type="text/javascript" src="{% static 'custom/coordinator/js/projects.js' %}"></script>
{% endblock %}
