{% extends 'base.html' %}

{% load static %}


{% block extra_styles %}
  <link href="{% static 'theme/js/plugins/data-tables/css/jquery.dataTables.min.css' %}" type="text/css" rel="stylesheet" media="screen,projection">
{% endblock %}

{% block extra_styles_page %} {% endblock %}

{% block page_title %} Projects {% endblock %}

{% block letfsidebar %}
    <ul id="project-nav" class="side-nav fixed leftside-navigation">
        <li class="menu-item"> 
            <a href="{% url 'coordinator:project' project_id %}" class="black-text" > 
                <strong> {{ project.name }} </strong>
            </a> 
        </li>
        <li class="divider"></li>
        <li class="menu-item heading"><span>Data </span> </li>
        <li class="menu-item data-sources"><a href="{% url 'coordinator:data-sources' project_id %}">Data Sources</a> </li>
        <li class="menu-item preview"><a href="{% url 'coordinator:preview' project_id %}">Preview</a> </li>
        <li class="divider"></li>
        <li class="menu-item heading"><span>Model Building </span>
        <li class="menu-item experiments"><a href="{% url 'coordinator:experiments' project_id %}">Experiment</a> </li>
        <li class="menu-item results"><a href="{% url 'coordinator:results' project_id %}">Result</a> </li>
        <li class="menu-item predict"><a href="{% url 'coordinator:predict' project_id %}">Predict</a> </li>
        <li class="menu-item feature"><a href="{% url 'coordinator:feature' project_id %}">Feature Analysis</a> </li>
        <li class="divider"></li>
        <li class="menu-item heading"><span>API Management </span>
        <li class="menu-item deploy"><a href="{% url 'coordinator:deploy' project_id %}">Deploy Model</a>
        <li class="menu-item api"><a href="{% url 'coordinator:api_status' project_id %}">API Status</a> </li>
    </ul>
    <a href="#" data-activates="project-nav" class="sidebar-collapse btn-floating btn-medium waves-effect waves-light hide-on-large-only cyan"><i class="mdi-navigation-menu"></i></a>
{% endblock %}

{% block content %}

    <!--card stats start-->
    <div class="row with-leftmenu">

        <div class="col s12">
            {% block project-content %}
                <div id="card-stats">
                    <div class="row">
                        <h5 class="col s12 m21 l12"> Summary </h5>
                        <div class="col s12 m6 l3">
                            <div class="card">
                                <div class="card-content ">
                                    <h4 class="card-stats-number">{{ datasets }}</h4>
                                    <p class="card-stats-title"> Data Sources </p>
                                </div>
                            </div>
                        </div>
                        <div class="col s12 m6 l3">
                            <div class="card">
                                <div class="card-content ">
                                    <h4 class="card-stats-number">{{ experiments }}</h4>
                                    <p class="card-stats-title">  Exprements</p>
                                </div>
                            </div>
                        </div>
                        <div class="col s12 m6 l3">
                            <div class="card">
                                <div class="card-content ">
                                    <h4 class="card-stats-number">200</h4>
                                    <p class="card-stats-title">  Models</p>
                                </div>
                            </div>
                        </div>
                        <div class="col s12 m6 l3">
                            <div class="card">
                                <div class="card-content ">
                                    <h4 class="card-stats-number">160</h4>
                                    <p class="card-stats-title">  Execution</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <h5> Models </h5>

                <div class="card">
                    <div class="card-content">
                        <table id="data-table">
                            <thead>
                                <tr>
                                    <th> Dataset </th>
                                    <th> Experiment </th>
                                    <th> Algorithm </th>
                                    <th> Validation </th>
                                    <th> Accuracy </th>
                                    <th> F1 Score </th>
                                    <th> Status </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td> This is longer Content </th>
                                    <td> Content </td>
                                    <td> Content </td>
                                    <td> 5-fold </td>
                                    <td> 0.8945 </td>
                                    <td> &nbsp; </td>
                                    <td> 
                                      <div class="chip green white-text">
                                        Success
                                      </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            {% endblock %}
        </div>
    </div>


{% endblock %}

{% block extra_scripts %}

    <!-- data-tables -->
    <script type="text/javascript" src="{% static 'theme/js/plugins/data-tables/js/jquery.dataTables.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'theme/js/plugins/data-tables/data-tables-script.js' %}"></script>

    <script type="text/javascript">
        $(document).ready(function(){
            $("#data-table").DataTable();
            $(".{{page_name}}").addClass('active');
        });
    </script>
{% endblock %}


{% block extra_scripts_project %}
{% endblock %}
